apiVersion: 1

datasources:
  - name: ClickHouse Metrics
    type: vertamedia-clickhouse-datasource
    access: proxy
    url: http://clickhouse:8123
    uid: clickhouse-metrics
    isDefault: false
    editable: true
    basicAuth: false
    jsonData:
      defaultDatabase: default
      port: 8123
      server: clickhouse
      username: default
      tlsSkipVerify: true
      addCorsHeader: false
      usePOST: false
      useYandexCloudAuthorization: false
      xClickHouseSSLCertificateAuth: false
      useCompression: false
    secureJsonData:
      password: ""