<query-editor-row query-ctrl="ctrl" can-collapse="true" has-text-edit-mode="true">

	<div class="gf-form" ng-if="ctrl.target.rawQuery">
        <textarea rows="7" class="gf-form-input gf-form--grow" style = "{{ctrl.textareaHeight}}"
                  ng-if="ctrl.editMode" ng-model="ctrl.target.query" give-focus="true" spellcheck="false" ng-blur="ctrl.toggleEdit($event, false)"></textarea>
        <div class="gf-form-input" ng-if="!ctrl.editMode" ng-bind-html="ctrl.target.formattedQuery" ng-click="ctrl.toggleEdit($event, true)"></div>
	</div>

	<div ng-if="!ctrl.target.rawQuery">
		<div class="gf-form-inline">
			<div class="gf-form">
				<label class="gf-form-label query-keyword width-7">
                    FROM
                    <i ng-if="ctrl.target.tableLoading" class="fa fa-spinner fa-spin"></i>
                </label>

				<metric-segment segment="ctrl.databaseSegment" get-options="ctrl.getDatabaseSegments()" on-change="ctrl.databaseChanged()"></metric-segment>
				<metric-segment segment="ctrl.tableSegment" get-options="ctrl.getTableSegments()" on-change="ctrl.tableChanged()"></metric-segment>
			</div>

			<div class="gf-form gf-form--grow">
				<div class="gf-form-label gf-form-label--grow"></div>
			</div>
		</div>

		<div class="gf-form-inline">
			<div class="gf-form">
				<label class="gf-form-label query-keyword width-10">
                    <info-popover mode="right-absolute">
                        <a href="https://clickhouse.yandex/reference_en.html#Date" target = "_blank" >EventDate column required for MergeTree engine</a>
                    </info-popover>
                    <span style = "font-size: 1rem;">Column:Date</span>
                    <i ng-if="ctrl.target.dateLoading" class="fa fa-spinner fa-spin"></i>
				</label>
			</div>

			<div class="gf-form">
				<metric-segment segment="ctrl.dateColDataTypeSegment" get-options="ctrl.getDateColDataTypeSegments()" on-change="ctrl.dateColDataTypeChanged()"></metric-segment>
			</div>

            <div class="gf-form width-14">
                <metric-segment-model property="ctrl.target.dateTimeType"
                                      options="ctrl.dateTimeTypeOptions" css-class="query-keyword width-14"
                                      custom="false" select-mode="true"
                                      on-change="ctrl.dateTimeTypeChanged()">
                </metric-segment-model>
                <info-popover mode="right-absolute" style="right: 2rem !important;">
                    <a href="https://clickhouse.yandex/reference_en.html#DateTime" target = "_blank" >DateTime column for binding Grafana's range selector</a>
                </info-popover>
            </div>

            <div class="gf-form">
                <metric-segment segment="ctrl.dateTimeColDataTypeSegment"
                                get-options="ctrl.getDateTimeColDataTypeSegments()"
                                on-change="ctrl.dateTimeColDataTypeChanged()">
                </metric-segment>
            </div>

            <div class="gf-form gf-form--grow">
                <div class="gf-form-label gf-form-label--grow"></div>
            </div>
		</div>

        <div class="gf-form">
            <button class="btn btn-inverse gf-form-btn query-keyword" ng-click="ctrl.toQueryMode();">
                <i class="fa fa-arrow-right"></i>&nbsp;
                Go to Query
            </button>
        </div>

	</div>

    <div class="gf-form-inline" ng-if="ctrl.target.rawQuery">
		<div class="gf-form gf-form--grow">
			<label class="gf-form-label query-keyword width-5">Query</label>
			<input type="text" readonly="true" class="gf-form-label gf-form-label--grow" ng-model="ctrl.target.rawQuery" spellcheck='false' placeholder="Actual query request">
		</div>
	</div>

    <div class="gf-form-inline" ng-if="ctrl.target.rawQuery">
        <div class="gf-form">
            <label class="gf-form-label width-5">Step</label>
            <input type="text" class="gf-form-input max-width-5" ng-model="ctrl.target.interval"
                   data-placement="right"
                   spellcheck='false'
                   placeholder="{{ctrl.panelCtrl.interval}}"
                   data-min-length=0 data-items=100
                   ng-model-onblur
                   ng-change="ctrl.refresh()"/>
            <info-popover mode="right-absolute">
                Leave blank for auto handling based on time range and panel width
            </info-popover>
        </div>
        <div class="gf-form">
            <label class="gf-form-label">Resolution</label>
            <div class="gf-form-select-wrapper max-width-15">
                <select ng-model="ctrl.target.intervalFactor" class="gf-form-input"
                        ng-options="r.factor as r.label for r in ctrl.resolutions"
                        ng-change="ctrl.refresh()">
                </select>
            </div>
        </div>

        <div class="gf-form">
          <label class="gf-form-label width-5">Round</label>
          <input type="text" class="gf-form-input max-width-5" ng-model="ctrl.target.round"
                 data-placement="right"
                 spellcheck='false'
                 placeholder="0s"
                 data-min-length=0 data-items=100
                 ng-model-onblur
                 ng-change="ctrl.refresh()"/>
          <info-popover mode="right-absolute">
            Set rounding for `left` interval border. For example, 1m - left order will be always rounded to beginning of minute.
          </info-popover>
        </div>

        <div class="gf-form">
            <label class="gf-form-label width-6">
                <info-popover mode="right-absolute">
                    Experimental feature: format SQL query as CH do.
                </info-popover>
                <a ng-click="ctrl.formatQuery()" role="menuitem">
                    Format
                </a>
            </label>
        </div>

        <div class="gf-form gf-form--grow">
            <div class="gf-form-label gf-form-label--grow"></div>
        </div>
    </div>
</query-editor-row>
